@model PRMS.Models.CustomerInfo

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <h4>Edit Customer Info</h4>
                    <hr />
                    <form asp-action="Edit" enctype="multipart/form-data" method="post">

                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CustomerId" />
                            <input type="hidden" asp-for="CreatedBy" />
                            <input type="hidden" asp-for="CreatedDate" />
                            <input type="hidden" asp-for="UserIp" />
                            <div class="col-md-4">
                                <div class="form-group">

                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="FirstName" class="control-label">First Name</label>
                                        <input asp-for="FirstName" class="form-control form-control-sm" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="LastName" class="control-label">Last Name</label>
                                        <input asp-for="LastName" class="form-control form-control-sm" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="FatherName" class="control-label">Father Name</label>
                                        <input asp-for="FatherName" class="form-control form-control-sm" />
                                        <span asp-validation-for="FatherName" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="MotherName" class="control-label">Mother Name</label>
                                        <input asp-for="MotherName" class="form-control form-control-sm" />
                                        <span asp-validation-for="MotherName" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="SpouseName" class="control-label">Spouse Name</label>
                                        <input asp-for="SpouseName" class="form-control form-control-sm" />
                                        <span asp-validation-for="SpouseName" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="PresentAddress" class="control-label">Present Address</label>
                                        <textarea type="text" asp-for="PresentAddress" class="form-control form-control-sm" style="height: 30px;"></textarea>
                                        <span asp-validation-for="PresentAddress" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="PermanentAddress" class="control-label">Permanent Address</label>
                                        <textarea asp-for="PermanentAddress" class="form-control form-control-sm" style="height: 30px;"></textarea>
                                        <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                                    </div>

                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="NID" class="control-label">NID Number</label>
                                        <input asp-for="NID" class="form-control form-control-sm" />
                                        <span asp-validation-for="NID" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="BirthId" class="control-label">Birth Id</label>
                                        <input asp-for="BirthId" class="form-control form-control-sm" />
                                        <span asp-validation-for="BirthId" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                                        <input asp-for="DateOfBirth" class="form-control form-control-sm" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="Contact1" class="control-label">Contact 1</label>
                                        <input asp-for="Contact1" class="form-control form-control-sm" />
                                        <span asp-validation-for="Contact1" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="Contact2" class="control-label">Contact 2</label>
                                        <input asp-for="Contact2" class="form-control form-control-sm" />
                                        <span asp-validation-for="Contact2" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="Email" class="control-label">Email</label>
                                        <input asp-for="Email" class="form-control form-control-sm" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="row" style="padding-right: 10px;">
                                        <label asp-for="CustomerImage" class="control-label">Customer Image</label>
                                        <input type="file" asp-for="CustomerImage" class="form-control form-control-sm" />
                                        <span asp-validation-for="CustomerImage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top: 15px;">
                                    <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>

                                    <input type="submit" value="Update" class="btn btn-success pull-right btn-sm" />

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



